<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css"/>
</head>
<body>
    <header>
        <div class="logo">Furl</div>
        <nav class="navlist">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
        </nav>
        <div id="menu-icon">☰</div>
    </header>
    <section>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>
</body>
</html>
