{% extends "base.html" %}
{% block title %}Home @ Furl{% endblock %}
{% block content %}
<form action="#" method="POST">
    <label for="url">Enter the EndlessURL:</label>
    <input type="url" name="url" id="url"
           placeholder="https://www.youtube.com"
           pattern="https?://.+"
           size="50"
           required>
    <br/><br/>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" size="50">
    <br/><br/>
    <input type="submit" value="Shrink">
</form>

{% if furl %}
    <p>Shortened URL: <a id="link" href="{{ furl }}" target="_blank">{{ furl }}</a></p>
{% endif %}

<h2>Your Furls:</h2>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Furl</th>
            <th>URL</th>
            <th>Count</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for furl, info in furls.items() %}
        <tr>
            <td>{{ info[0] }}</td>
            <td class="url">{{ furl }}</td>
            <td>{{ info[1] }}</td>
            <td>{{ info[2] }}</td>
            <td>
                <button onclick="copyToClipboard('{{ furl }}')">Copy</button>
                <form action="{{ url_for('delete_furl', furl=furl) }}" method="POST" style="display:inline;">
                    <input type="submit" value="Delete">
                </form>
                {% if info[3] %}
                <form action="{{ url_for('deactivate_furl', furl=furl) }}" method="POST" style="display:inline;">
                    <input type="submit" value="Deactivate">
                </form>
                {% else %}
                <form action="{{ url_for('activate_furl', furl=furl) }}" method="POST" style="display:inline;">
                    <input type="submit" value="Activate">
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p id="error"></p>
<script>
async function copyToClipboard(furl) {
    try {
        await navigator.clipboard.writeText(location.protocol + '//' + location.host + '/' + furl);
        alert('URL copied to clipboard');
    } catch(err) {
        console.error('Could not copy text: ', err);
    }
}

async function addHost() {
    for (const cell of document.getElementsByClassName('url')) {
        cell.prepend(location.protocol + '//' + location.host + '/')
    }
    const link = document.getElementById("link");
    if (link) {
        link.href = location.protocol + '//' + location.host + '/' + link.href;
        link.prepend(location.protocol + '//' + location.host + '/');
    }
}
addHost()

</script>

{% endblock %}
