{% extends "base.html" %}
{% block title %}Home @ Furl{% endblock %}
{% block content %}
<form id="form">
    <label for="url">Enter the EndlessURL:</label>
    <input type="url" name="url" id="url"
           placeholder="https://naustylongUrls.com"
           pattern="https?://.+"
           size="50"
           required>
    <br/><br/>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" size="50">
    <br/><br/>
    <input type="submit" value="Shrink">
</form>

{% if furl %}
    <p>Shortened URL: <a href="{{ furl }}" target="_blank">{{ furl }}</a></p>
{% endif %}

<h2>Your Furls:</h2>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Furl</th>
            <th>URL</th>
            <th>Count</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="tbody">
        {% for furl, info in furls.items() %}
        <tr>
            <td>{{ info.name }}</td>
            <td>{{ host + furl }}</td>
            <td>{{ info.url }}</td>
            <td>{{ info.count }}</td>
            <td>
                <button onclick="copyToClipboard('{{ host + furl }}')">Copy</button>
                <form action="{{ url_for('delete_furl', furl=furl) }}" method="POST" style="display:inline;">
                    <input type="submit" value="Delete">
                </form>
                {% if info.active %}
                <form action="{{ url_for('deactivate_furl', furl=furl) }}" method="POST" style="display:inline;">
                    <input type="submit" value="Deactivate">
                </form>
                {% else %}
                <form action="{{ url_for('activate_furl', furl=furl) }}" method="POST" style="display:inline;">
                    <input type="submit" value="Activate">
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p id="error"></p>
<script>
function copyToClipboard(url) {
    navigator.clipboard.writeText(url).then(function() {
        alert('URL copied to clipboard');
    }, function(err) {
        console.error('Could not copy text: ', err);
    });
}

document.getElementById('form').addEventListener('submit', async event => {
    event.preventDefault();
    try {
        const response = await fetch('/home/{{username}}', {
            method: 'POST',
            body: new FormData(event.target),
        });
        if (!response.ok) {
            console.log(await response.text());
            throw new Error('Network Response is not OK');
        }
        const data = await response.json();
        tbody = document.getElementById('tbody');
        document.getElementById('error').innerText = data;
    } catch(error) {
        console.error('Error: ', error);
        document.getElementById('tbody').innerHTML = '';
        document.getElementById('error').innerText = error.message;
    }
});

</script>

{% endblock %}
